body {
  margin: auto;
  max-width: 760px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p,
label,
span {
  font-size: 20px;
}

code {
  color: orangered;
}

.section {
  margin-bottom: 40px;
}

button {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.wrapper {
  background-color: black;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.form-row > .action {
  flex: 1;
  font-weight: bold;
  text-align: center;
}

.form-row > .command {
  flex: 2;
  font-weight: bold;
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
  text-align: right;
}
.form-row > input {
  flex: 2;
}
.form-row > input {
  padding: 0.5em;
}

input[type='text'] {
  background-color: black;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  font-size: 20px;
}
input[type='text']:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
}

.saveText {
  color: white;
  display: none;
  text-align: center;
  position: fixed;
  top: 5%;
  right: 5%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-flex;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#activationPhrase {
  margin-left: 5px;
}

.alwaysListening {
  display: flex;
  align-items: center;
}
.alwaysListeningInput {
  display: none;
  margin-left: 20px;
}

.downloadLogs {
  background-color: orangered;
  color: white;
  border-radius: 5px;
  border: solid 1px black;
  padding: 5px;
  font-weight: 700;
  font-size: 20px;
}
