#voiceDim {
  position: fixed;
  bottom: 10%;
  right: 8%;
  background-color: black;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

.textContainer {
  display: none;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  align-items: center;
}

.imageContainer {
  height: 100px;
  width: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.imageContainer img {
  width: 85px;
  height: 85px;
  padding: 5px;
}

.pulse {
  animation: pulse 3s infinite;
  animation-direction: alternate;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.voiceDimHelp {
  position: fixed;
  bottom: 10%;
  right: 5%;
  background-color: black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 15px;
  text-align: center;
  display: flex;
  border: white 1px solid;
}

.questionMark {
  margin: auto;
}

.voiceDimHelp:hover {
  cursor: pointer;
}
